.budgeWrap {
  display: flex;
  position: relative;
  flex-direction: column;
}

.columnHeadersWrap {
  border-top: var(--gray-border-sm);
  border-bottom: var(--gray-border-sm);
}

.budgeListWrap {
  display: flex;
  flex-direction: column;
}

.budgetItem {
  margin-bottom: 0.3rem;
}

.budgetDetailsWrap {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 0.3rem;
}

.rankWrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
}
