.paddingXs {
  padding: 0.5rem;
}

.paddingSm {
  padding: 1rem;
}

.paddingMd {
  padding: 2rem;
}

.marginTopBottomXxs {
  margin: 0.2rem 0;
}

.marginTopBottomXs {
  margin: 0.5rem 0;
}

.marginTopBottomSm {
  margin: 1rem 0;
}

.marginRightXs {
  margin-right: 0.5rem;
}

.marginRightSm {
  margin-right: 1rem;
}

.marginBottomXxs {
  margin-bottom: 0.2rem;
}

.marginBottomXs {
  margin-bottom: 0.5rem;
}

.marginBottomSm {
  margin-bottom: 1rem;
}

.marginBottomMd {
  margin-bottom: 1.5rem;
}

.marginBottomLg {
  margin-bottom: 2rem;
}

.marginBottomXl {
  margin-bottom: 2.5rem;
}

.mainWrap {
  width: 100%;
  padding: 2rem;
  margin-top: 1rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
}

.grid {
  border-bottom: 'var(--gray-border-sm)';
  margin-bottom: 1rem;
}
