.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: var(--gray-border-sm);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--gray-darkest);
  z-index: 100;
}

.headerButtonsWrap {
  display: flex;
  align-items: center;
}

.headerProfileWrap {
  display: flex;
  align-items: center;
  padding: 0.1rem 0.75rem;
}

.headerProfileImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
